<app-template-header></app-template-header>
<div class="list-view">
    <h4 (click)="toDoShow=!toDoShow">Offen <span>({{ (_dataService.$todos | async )?.length}})</span></h4>
    <div class="todo-elements" *ngIf="toDoShow" dragula="todos" [dragulaModel]="$todos" (dragulaModelChange)="$todos = $event">
        <app-template-todo (ping)="update($event)" [toDo$]="todo" *ngFor="let todo of _dataService.$todos | async"></app-template-todo>
    </div>
    <app-template-todo-form *ngIf="toDoShow" (ping)="create($event)"></app-template-todo-form>
    <h4 (click)="toDoDoneShow=!toDoDoneShow">Erledigt <span>({{ (_dataService.$todosdone | async )?.length}})</span></h4>
    <div class="todo-elements-done" *ngIf="toDoDoneShow">
        <app-template-todo (ping)="update($event)" [toDo$]="todo" *ngFor="let todo of _dataService.$todosdone | async"></app-template-todo>
    </div>
</div>