<app-template-header></app-template-header>
<div class="list-view">
    <h4 (click)="toDoShow=!toDoShow">Offen <span>({{ $todos.length }})</span></h4>
    <div class="todo-elements" *ngIf="toDoShow">
        <app-template-todo (ping)="update($event)" [toDo$]="todo" *ngFor="let todo of $todos"></app-template-todo>
        <app-template-todo-form (ping)="create($event)"></app-template-todo-form>
    </div>
    <h4 (click)="toDoDoneShow=!toDoDoneShow">Erledigt <span>({{ $todosdone.length }})</span></h4>
    <div class="todo-elements-done" *ngIf="toDoDoneShow">
        <app-template-todo (ping)="update($event)" [toDo$]="todo" *ngFor="let todo of $todosdone"></app-template-todo>
    </div>
</div>