<app-template-header></app-template-header>
<div class="list-view">
    <h4>Offen:</h4>
    <div class="todo-elements">
        <app-template-todo (ping)="update($event)" [toDo$]="todo" *ngFor="let todo of $todos"></app-template-todo>
        <app-template-todo-form (ping)="create($event)"></app-template-todo-form>
    </div>
    <h4>Erledigt:</h4>
    <div class="todo-elements-done">
        <app-template-todo (ping)="update($event)" [toDo$]="todo" *ngFor="let todo of $todosdone"></app-template-todo>
    </div>
</div>